.transaction-history {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
}

.transaction-history th,
.transaction-history td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.transaction-history th {
    background-color: #f1f1f1;
}

.transaction-history tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.transaction-history tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}